# Arquivos Python
descomentador.py

# Diretórios do sistema
sandbox/
fpdf/
utils/vendor/
assets/
lib/
env/
scripts/
# Todas as pastas midia em qualquer lugar do projeto
**/midia/
**/midia/**
Defesa/midia/
PCD/midia/
tests/
# Arquivos de configuração
env/config.php
bakup/
vendor/
composer.lock
composer.phar
composer.json
vendor/