# Arquivos Python
descomentador.py

# Diretórios do sistema
sandbox/
fpdf/
utils/vendor/
assets/
lib/
env/

# Todas as pastas midia em qualquer lugar do projeto
**/midia/
**/midia/**
Defesa/midia/
PCD/midia/

# Arquivos de configuração
env/config.php