:root {
    --gray-1: #CED4DA;
    --gray-2: #6C757D;

    --blue-1: #0DCAF0;
    --blue-2: #f5faff;
    --background: #f5faff;

    font-size: 16px;
}

.feedback {
    color: white;
    background-color: white;
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 8px;
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    line-height: 1.5;
}
.topbar-secondary {
    background-color: #f2f2f2;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; 
    text-align: center; 
    margin-bottom: 40px; 

}

.topbar-secondary .container_bar {
    max-width: 1200px;
    margin: 0 auto; 
}

.topbar-secondary a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.topbar-secondary a:hover {
    color: #666;
}

.topbar-secondary .separator {
    color: #666;
}


header {
    background-color: #009640;
    height: 48px;
    width: 100%;
    padding: 0 312px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

header nav img {
    width: 25px;
    height: 25px;
}

header p {
    color: White;
    font-size: 16px;
}

header a {
    display: inline-block;
    font-size: 0;
}

header button {
    color: white;
    font-size: 20px;
    border: none;
    background: none;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 3px 10px 0 10pxF;
}

header div.user-options {
    display: flex;
    align-items: center;
    gap: 8px;
}
div.form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.form-header h1 {
    color: white;
    font-family: Viga, sans-serif;
    line-height: 24px;
    font-size: 64px;
}

div.form-header p {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    margin: 18px 0 48px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    font-size: 40px;
}

form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    position: relative;
    padding-left: 30px;
    margin-top: 50px;
}
label i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"] {
    margin-bottom: 10px;
}
textarea {
    height: 100px;
    resize: vertical;
}
input[type="submit"] {
    background-color: #009640;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.file-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.file-input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.file-input input[type="file"] {
    width: calc(100% - 20px);
    border: none;
    outline: none;
}
@media (max-width: 1440px) {

    footer > div:nth-child(2), header {
        padding: 0 144px;
    }
}
@media (max-width: 1024px) {
    footer > div:nth-child(2), header {
        padding: 0 72px;
    }
    div.form-header h1 {
        font-size: 48px;
    }

    div.form-header p {
        font-size: 16px;
    }

    div.form-header img {
        aspect-ratio: auto;
        height: 300px;
    }

    div.form-files {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    footer > div:nth-child(2), header {
        padding: 0 24px;
    }
    div.form-header h1 {
        font-size: 32px;
    }

    div.form-header p {
        font-size: 12px;
    }

    div.form-header img {
        height: 200px;
    }
}